.outcomes{
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
}
.outcomes-list{
    list-style: '#';
}
.outcomes-list li::marker{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}
.outcomes-list li{
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.25rem;
}
@media (min-width: 1000px) {
    .outcomes{
        margin: 4rem;
    }
    .outcomes-list{
        display: flex;
    }
}