.navbar{
    display: flex;
    justify-content: space-between;
    height: 5rem;
}
.logo{
    height: 3rem;
    margin: 1rem 0 auto 4rem;
    cursor: pointer;
}
.navbar i{
    color: #059669;
    font-size: 1.5rem;
    margin: 0.2rem;
    cursor: pointer;
}
.nav{
    display: flex;
    margin-right: 2rem;
    align-items: baseline;
}
.nav p{
    cursor: default;
}
.nav a,button,p{
    margin: 1rem;
}
.nav a{
    text-decoration: none;
    color: black;
}
.login-register-btn{
    background-color: #059669;
    border: none;
    padding: 1rem;
    border-top-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    color: white;
    cursor: pointer;
}
.login-register-btn i{
    background-color: indianred;
}