.banner-on-img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0.5rem;
    bottom: 4rem;
}
.banner-on-img h3{
    background-color: var(--white);
    font-size: 0.8rem;
    font-weight: 700;
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    text-align: center;
    margin: 0.25rem;
    height: 1.5rem;
}
.banner-on-img p{
    color: var(--white);
    margin: 0.25rem;
    font-size: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05rem;
}
.banner-on-img strong{
    color: var(--white);
    margin: 0.25rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
}
@media (min-width: 1000px) {
    .banner-on-img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 24rem;
        left: 3rem;
        bottom: 25rem;
    }
    .banner-on-img h3{
        background-color: var(--white);
        font-size: 1.75rem;
        font-weight: 700;
        display: inline-block;
        width: fit-content;
        padding: 1rem 2rem;
        color: var(--primary-color);
        text-align: center;
        margin: 0.5rem;
        height: 1.5rem;
    }
    .banner-on-img p{
        color: var(--white);
        margin: 0.5rem;
        font-size: 0.75rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.05rem;
    }
    .banner-on-img strong{
        color: var(--white);
        margin: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1rem;
    }
}
@media (min-width: 1400px) {
    .banner-on-img{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 24rem;
        left: 4rem;
        bottom: 25rem;
    }
    .banner-on-img h3{
        background-color: var(--white);
        font-size: 1.75rem;
        font-weight: 700;
        display: inline-block;
        width: fit-content;
        padding: 1rem 2rem;
        color: var(--primary-color);
        text-align: center;
        margin: 0.5rem;
        height: 1.5rem;
    }
    .banner-on-img p{
        color: var(--white);
        margin: 0.5rem;
        font-size: 0.75rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.05rem;
    }
    .banner-on-img strong{
        color: var(--white);
        margin: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1rem;
    }
}