.active-content{
    display: flex;
    align-items: baseline;
}
.active-content i{
    font-size: 1.25rem;
}
.active-content p{
    font-size: 1rem;
    cursor: pointer;
}
.content-btn{
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    background-color: var(--green-200);
    cursor: pointer;
}
.content-title-div{
    display: flex;
    border: 1px solid var(--blue-gray-400);
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
.content-accordion{
    margin: 0.5rem 1rem;
}
@media (min-width: 1000px) {
    .active-content i{
        font-size: 1.5rem;
    }
    .active-content p{
        font-size: 1.25rem;
    }
    .content-btn{
        position: relative;
        right: -10rem;
    }
    .content-title-div{
        padding: 1rem;
    }
    .content-accordion{
        margin: 1rem 2rem;
    }
}
@media (min-width: 1400px) {
    .content-btn{
        right: -25rem;
    }
}